<section class="roadmap">
  <div class="roadmap__heading-wrap">
    <h3 class="roadmap__heading">
      roadmap
    </h3>
  </div>

  <div class="roadmap__table">
    <img src="img/group-2.png" alt="roadmap" class="roadmap__img">

    <div class="roadmap__content-wrap">

      <div class="roadmap__content">
        <p class="roadmap__content-item">
          Launch TIMEAT in Kyiv, expand team developing and our partnership with Poster company
        </p>
        <p class="roadmap__content-item roadmap__content-item--right">
          Reach or nearest goals: 50 restaurants and 500 montly active users, start spreding on other cities
        </p>
      </div>

      <div class="roadmap__content">
        <p class="roadmap__content-item">
          Second round of investment
        </p>
        <p class="roadmap__content-item roadmap__content-item--right">
          Become nationwide company, continue spreading on largest Ukrainian cities
        </p>
      </div>

      <div class="roadmap__content">
        <p class="roadmap__content-item">
          launch on European market
        </p>
      </div>
    </div>

  </div>
</section>