<section class="team">

  <div class="team__heading-wrap">
    <h3 class="team__heading">
      our team
    </h3>
  </div>

  <div class="team__member-wrap">

    <div class="team__member">
      <img src="img/team2.png" alt="member photo" class="team__member-img">
      <h4 class="team__member-name">Vladimir Metnew </h4>
      <h4 class="team__member-position">Co-founder</h4>
      <p class="team__member-descr">
        Full stack developer and open-source contributor. Worked as Lead developer at StreamSpread (live video advertising startup,
        featured on TwitchCon 2017), Lead developer at PoptopUK (event planning startup).
      </p>
    </div>


    <div class="team__member">
      <img src="img/team1.png" alt="member photo" class="team__member-img">
      <h4 class="team__member-name">Yevhenii Brovchuk</h4>
      <h4 class="team__member-position">Co-founder, CEO</h4>
      <p class="team__member-descr">
        Yevhenii is engaged in PR, negotiations with restaurants and restaurateur in Kyiv, working on marketing campaign for Kyiv
        and Ukraine in general, has business-connections with Poster company and restaurants.
      </p>
    </div>


    <div class="team__member">
      <img src="img/team3.png" alt="member photo" class="team__member-img">
      <button class="team__member-btn">join us</button>
      <p class="team__member-descr team__member-descr--join">
        Become part of our team…
      </p>
    </div>

  </div>

</section>